*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    text-decoration: none;
}

body{
    min-height: 100vh;
}

header .up{
    /* position: fixed;
    top: 0; left: 0; right: 0; */
    width: 100%;
    min-height: 650px;
    /* background: gray; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../img/تفسير-حلم-إعطاء-المال-للفقير2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

header .up .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red;
    width: 100%;
    min-height: 70px; */
    position: fixed;
    right: 0;
    left: 0;
    top: 0;

}

header .up .navbar .leftUp{
    min-height: 90px;
    /* background: green; */
    float: left;
}

header .up .navbar .leftUp ul{
    list-style: none;
}

header .up .navbar .leftUp ul li{
    position: relative;
    float: left
}

header .up .navbar .leftUp ul li a{
    font-size: 25px;
    font-weight: bolder;
    color: black;
    padding: 7px;
    display: block;
}

header .up .navbar .rightUp{
    min-height: 90px;
    /* background: rebeccapurple; */
    float: right;
}

header .up .navbar .rightUp ul{
    list-style: none
}

header .up .navbar .rightUp ul li{
    position:relative;
    float: left;
}

header .up .navbar .rightUp ul li a{
    font-size: 14px;
    color: black;
    padding: 15px;
    display: block;
    transition: 0.5s
}

header .up .navbar .rightUp ul li a:hover{
    background: aqua;
}

header .up .upCenter{
    width: 100%;
    min-height: 300px;
    /* background: blue; */
    display: flex;
    align-items: center;
    float: left;
    padding: 90px;
    color: black;
}

header .up .upCenter h2{
    font-size: 70px;
}

header .up .updown{
    width: 100%;
    min-height: 40px;
    /* background:darkslategrey ; */
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header .up .updown span {
color: black;
font-size: 15px;
}

section .down{
    width: 100%;
    min-height: 300px;
    background: white;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .down .center{
    width: 86%;
    min-height: 750px;
    /* background: darkblue; */
    float:left;
}

section .down .center .upDown{
    width: 100%;
    min-height: 550px;
    /* background: darkred; */
    float: left;
}

section .down .center .upDown .leftupDown{
    width: 50%;
    min-height: 500px;
    /* background: yellow; */
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .down .center .upDown .leftupDown .ServedOver{
    min-width: 50%;
    min-height: 200px;
    background-color: rgb(197, 168, 41);/*не трогать */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 80px;
}

section .down .center .upDown .leftupDown .ServedOver .S{
    font-size: 30px;
}

section .down .center .upDown .leftupDown .ServedOver .N{
    font-size: 60px;
}

section .down .center .upDown .leftupDown .ServedOver .C{
    font-size: 30px;
}

section .down .center .upDown .leftupDown .ServedOver p{
    width: 60%;
    min-height: 38px;
    background: white;
    font-size: 20px;
    float: left;
    padding: 7px;
    }

section .down .center .upDown .leftupDown .ServedOver p a{
    color: black;
}

section .down .center .upDown .leftupDown .ServedOver p:hover{
    background: aqua;
}


section .down .center .upDown .rightupDown{
    width: 50%;
    min-height: 500px ;
    /* background: rgb(134, 77, 36); */
    float: left;
}

section .down .center .upDown .rightupDown h2{
    padding: 55px;
}

section .down .center .upDown .rightupDown p{
    padding: 10px;
}



section .down .center .upDown .rightupDown .w{
    font-size: 50px;
}

section .down .center .upDown .rightupDown .f{
    font-size: 25px;
}

section .down .center .upDown .rightupDown .a{
    font-size: 20px;
}

section .down .center .upDown .rightupDown ul{
    list-style: none;
    padding: 10px;
}

section .down .center .upDown .rightupDown ul li{
    width: 26%;
    min-width: 25px ;
    /* position: relative; */
    background: yellow;
    float: left;
    padding: 10px;
    font-size: 20px;
}

section .down .center .upDown .rightupDown ul li a{
    color: white;
}

section .down .center .downDown{
    width: 100%;
    min-height: 250px;
    /* background: indianred; */
    float: left;
}

section .down .center .downDown .leftdownDown{
    width: 33%;
    min-height: 250px;
    /* background:sandybrown ; */
    float: left;
}

section .down .center .downDown .leftdownDown .first{
    width: 15%;
    height: 250px;
    /* background: crimson; */
    float: left;
}

section .down .center .downDown .leftdownDown .first span{
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

section .down .center .downDown .leftdownDown .second{
    width: 85%;
    height: 250px;
    /* background:cyan; */
    float: left;
}

section .down .center .downDown .leftdownDown .second .head{
    padding: 5px;
}

section .down .center .downDown .leftdownDown .second .midle{
    padding: 5px;
    font-size: 16px;
}

section .down .center .downDown .leftdownDown .second .foot{
    padding: 7px;
    font-size: 16px;
}

section .down .center .downDown .leftdownDown .second .foot a{
    color: yellow;
    border-bottom: 2px solid yellow;
}

section .down .center .downDown .centerdownDown{
    width: 34%;
    min-height: 250px;
    /* background:darkgreen; */
    float: left;
}

section .down .center .downDown .centerdownDown .first2{
    width: 15%;
    height: 250px;
    /* background: crimson; */
    float: left;
}

section .down .center .downDown .centerdownDown .first2 span{
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

section .down .center .downDown .centerdownDown .second2{
    width: 85%;
    height: 250px;
    /* background:cyan; */
    float: left;
}

section .down .center .downDown .centerdownDown .second2 .head2{
    padding: 5px;
}

section .down .center .downDown .centerdownDown .second2 .midle2{
    padding: 5px;
    font-size: 16px;
}

section .down .center .downDown .centerdownDown .second2 .foot2{
    padding: 7px;
    font-size: 16px;
}

section .down .center .downDown .centerdownDown .second2 .foot2 a{
    color: yellow;
    border-bottom: 2px solid yellow;
}

section .down .center .downDown .centerdownDown{
    width: 34%;
    min-height: 250px;
    /* background:darkgreen; */
    float: left;
}

section .down .center .downDown .rightdownDown{
    width: 33%;
    min-height: 250px;
    /* background:rgb(51, 92, 167); */
    float: right;
}

section .down .center .downDown .rightdownDown .first3{
    width: 15%;
    height: 250px;
    /* background: crimson; */
    float: left;
}

section .down .center .downDown .rightdownDown .first3 span{
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

section .down .center .downDown .rightdownDown .second3{
    width: 85%;
    height: 250px;
    /* background:cyan; */
    float: left;
}

section .down .center .downDown .rightdownDown .second3 .head3{
    padding: 5px;
}

section .down .center .downDown .rightdownDown .second3 .midle3{
    padding: 5px;
    font-size: 16px;
}

section .down .center .downDown .rightdownDown .second3 .foot3{
    padding: 7px;
    font-size: 16px;
}

section .down .center .downDown .rightdownDown .second3 .foot3 a{
    color: yellow;
    border-bottom: 2px solid yellow;
}



/* header  #menu-bar{
    display: none;
}

header  label{
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    display: none;
    color: #000;
} */







/* @media(max-width:991px){

    .navbar{
        padding: 20px;
    }

    header label{
        display: initial;
    }

    header .up .navbar .rightUp{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #000000;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    header .up .navbar .rightUp ul li{
        width: 100%;
    }

    #menu-bar:checked ~ .rightUp{
        display: initial;
    }
}     */